@import 'base/mixins';

html {
    font-size: 62.5%;
    box-sizing: border-box;
    min-height: 100%;
    font-family: $fuente_principal;

    * {
        margin: 0;
        padding: 0;
    }
}
*, *:before, *:after {
    box-sizing: inherit;
    outline: none;
}
body {
    font-size: 1.6rem;
    height: 100vh;
    background-color: #fafafa;
}

.container {
    max-width: 100%;
    width: rem(1280);
    height: 100vh;
    margin: auto;
}

a {
    text-decoration: none !important;
}

#content-tab-2 {
    padding: 4rem;
}