// Add your sass mixins and functions here

// ----- rem ----- //
//REM conversor
//use:
//  .element {
//    font-size: rem(16);
//  }
@function rem($size) {
  @return #{$size / $f-base}rem;
}

/** Media Queries **/
@mixin telefono {
  @media (min-width: #{$telefono}) {
      @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
      @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
      @content;
  }
}

@mixin grid($columnas, $espaciado) {
  display: grid;
  gap: rem($espaciado);
  grid-template-columns: repeat($columnas, 1fr);
}

@mixin text($color, $weight, $size, $lineh) {
  font-weight: $weight;
  color: $color;
  font-size: rem($size);
  line-height: rem($lineh);
}